@@ -0,0 +1,97 @@
 body {
   font-family: 'Segoe UI', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
   color: #3e3e3e;
 }
 
 header {
   background-color: #5c8a45;
   color: white;
   text-align: center;
   padding: 40px 20px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
 }
 
 header .lema {
   font-style: italic;
   margin-top: 10px;
 }
 
 nav ul {
   list-style: none;
   padding: 0;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 20px;
 }
 
 nav a {
   color: white;
   text-decoration: none;
   font-weight: bold;
 }
 
 section {
   padding: 40px 20px;
   background-color: #fdfcf8;
   border-bottom: 1px solid #ddd;
 }
 
 section:nth-child(even) {
   background-color: #f3eee6;
 }
 
 h2 {
   color: #3c5935;
 }
 
 ul {
   list-style: none;
   padding-left: 0;
 }
 
 ul li {
   padding: 5px 0;
 }
 
 form {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   margin: 20px auto;
 }
 
 input, textarea {
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 8px;
   border: 1px solid #ccc;
   font-size: 1em;
 }
 
 button {
   background-color: #8c6239;
   color: white;
   border: none;
   padding: 12px;
   border-radius: 8px;
   font-size: 1em;
   cursor: pointer;
 }
 
 button:hover {
   background-color: #754c28;
 }
 
 footer {
   background-color: #5c8a45;
   color: white;
   text-align: center;
   padding: 20px;
   border-top-left-radius: 40px;
   border-top-right-radius: 40px;
 }
